.feature-card-text {
    max-width: 227px;
    min-height: 198px;
    padding: 33px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    z-index: 4;
    top: 0;
    margin: 155px 0 0 0;
}