.footer__phone {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #121212;
    margin: 11px 0 0 0;
    transition: ease 0.7s;
}
.footer__phone:hover {
    color: #EE3D1B;
}