.technology-items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, max-content));
    grid-gap: 0 30px;
    margin: 52px 0 0 0;
    padding: 0;
    justify-content: center;
}