.section-video__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #ED4C5C;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    margin: 30px 0 0 0;
}
.section-video__link:hover {
    color: #EE3D1B;
}
