@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header-menu/header-menu.css);
@import url(../blocks/header-menu/__link/header-menu__link.css);
@import url(../blocks/header-lang/header-lang.css);
@import url(../blocks/lang-list/lang-list.css);
@import url(../blocks/lang-list/__image/lang-list__image.css);
@import url(../blocks/select-lang/select-lang.css);
@import url(../blocks/select-lang/__option/select-lang__option.css);
@import url(../blocks/header/__btn-login/header__btn-login.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/button-sign-up/button-sign-up.css);
@import url(../blocks/section-video/section-video.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-video/__title/section-video__title.css);
@import url(../blocks/section-video/__subtitle/section-video__subtitle.css);
@import url(../blocks/section-video/__link/section-video__link.css);
@import url(../blocks/section-video/__image/section-video__image.css);
@import url(../blocks/features/features.css);
@import url(../blocks/features-cards/features-cards.css);
@import url(../blocks/feature-card/feature-card.css);
@import url(../blocks/feature-card/__image/feature-card__image.css);
@import url(../blocks/feature-card-text/feature-card-text.css);
@import url(../blocks/feature-card-text/__title/feature-card-text__title.css);
@import url(../blocks/feature-card-text/__subtitle/feature-card-text__subtitle.css);
@import url(../blocks/feature-card-text/__link/feature-card-text__link.css);
@import url(../blocks/technology/technology.css);
@import url(../blocks/technology/__title/technology__title.css);
@import url(../blocks/technology-items/technology-items.css);
@import url(../blocks/technology-item/technology-item.css);
@import url(../blocks/technology-item/__title/technology-item__title.css);
@import url(../blocks/technology-item/__subtitle/technology-item__subtitle.css);
@import url(../blocks/technology-item/__image/technology-item__image.css);
@import url(../blocks/focus/focus.css);
@import url(../blocks/focus/__title/focus__title.css);
@import url(../blocks/focus/__subtitle/focus__subtitle.css);
@import url(../blocks/focus-links/focus-links.css);
@import url(../blocks/focus-links/__link/focus-links__link.css);
@import url(../blocks/focus-images/focus-images.css);
@import url(../blocks/focus-images/__image/focus-images__image.css);
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__title/contact__title.css);
@import url(../blocks/contact/__subtitle/contact__subtitle.css);
@import url(../blocks/form-contact/form-contact.css);
@import url(../blocks/form-contact/__input/form-contact__input.css);
@import url(../blocks/form-contact/__select/form-contact__select.css);
@import url(../blocks/form-contact/__btn/form-contact__btn.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__adress/footer__adress.css);
@import url(../blocks/footer/__title-nav/footer__title-nav.css);
@import url(../blocks/footer/__subtitle-nav/footer__subtitle-nav.css);
@import url(../blocks/footer-menu/footer-menu.css);
@import url(../blocks/footer-menu/__link/footer-menu__link.css);
@import url(../blocks/footer/__contacts/footer__contacts.css);
@import url(../blocks/footer/__email/footer__email.css);
@import url(../blocks/footer/__phone/footer__phone.css);
@import url(../blocks/footer-links/footer-links.css);
@import url(../blocks/footer-links/__link/footer-links__link.css);
@import url(../blocks/footer/__payment/footer__payment.css);