.header-menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #fff;
    margin: 0 30px 0 0;
    transition: ease 0.7s;
}
.header-menu__link:last-child {
    margin: 0;
}
.header-menu__link:hover {
    color: #D52047;
}