.contact {
    padding: 117px 0 78px 0;
    display: grid;
    grid-template-columns: minmax(min-content, 434px) minmax(min-content, max-content);
    justify-content: center;
    grid-gap: 0 125px;
}