.features-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    grid-gap: 0 30px;
    justify-content: center;
    list-style-type: none;
    margin: 63px 0 0 0;
    padding: 0;
}