.footer-menu__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 400;
    color: #000;
    transition: ease 0.7s;
}
.footer-menu__link:hover {
    color: #EE3D1B;
}