.technology-item__subtitle {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000;
    font-weight: 400;
    align-self: center;
    margin: 10px 0;
    max-width: 191px;
}